{#
/**
 * @file
 * Template for the Opening Hours : OpenNow formatter.
 *
 * Available variables:
 * - serviceId : The opening hours Service ID.
 * - channelId : The opening hours Channel ID.
 *
 * @see template_preprocess_vg_social_link()
 *
 * @ingroup themeable
 */
#}
<div class="opening-hours--opennow" data-service="{{ serviceId }}" data-channel="{{ channelId }}">
  {{ serviceId }} : {{ channelId }}
</div>
